<!doctype html5>
<html>
<head>
        <title>{{ schedule.route.route_short_name }} - {{ schedule.route.route_long_name }} - {{ schedule.agency.agency_name }}</title>
        <link rel="stylesheet" href="../static/base.css">
</head>

<body>
        <header data-color="{{ schedule.route.route_color }}">
                <h1>
                        <span data-color="{{ schedule.route.route_color }}"
                              data-text-color="{{ schedule.route.route_text_color }}"
                              class="route-id">{{ schedule.route.route_short_name }}</span>
                        <span class="route-name">{{ schedule.route.route_long_name }}</span>
                </h1>
        </header>
        <main>
{% for period in schedule.service_periods %}
{% if period.directions != [] %}
                <section id="{{ period.slug }}">
                        <h2>
                                <a href="#{{ period.slug }}">
                                        {{ period.name }}
                                </a>
                        </h2>
{% for direction, timetable in period.directions %}
                        <h3>{{ direction }}</h3>
                        <table class="timetable">
                                <thead>
                                        <tr>
{% for stop in timetable.timepoints %}
                                                <th>{{ stop.stop_name }}</th>
{% endfor %}
                                        </tr>
                                </thead>
                                <tbody>
{% for row in timetable.rows %}
                                        <tr>
{% for time in row %}
{% if time == Timetable.NO_SERVICE %}
                                                <td class="time-none"></td>
{% elif time == Timetable.SKIP %}
                                                <td class="time-skip"></td>
{% elif time % (60*60*24) >= 60*60*12 %}
                                                <td class="time-pm">{{ format_time(time) }}</td>
{% else %}
                                                <td class="time-am">{{ format_time(time) }}</td>
{% endif %}
{% endfor %}
                                        </tr>
{% endfor %}
                                </tbody>
                        </table>
{% endfor %}
                </section>
{% endif %}
{% endfor %}
        </main>
</body>
</html>
