{% import "base.html" as base %}
<!DOCTYPE html>
<html>
<head>
        <title>{{ schedule.route.route_short_name }} - {{ schedule.route.route_long_name }} - {{ schedule.agency.agency_name }}</title>
        <link rel="stylesheet" href="../static/base.css">
        <link rel="stylesheet" href="../static/route.css">
        <script src="../static/common.js"></script>
</head>

<body style="{{ schedule.route|route_css }}">
        <header>
                <h1>
                        <span class="route-id">{{ schedule.route.route_short_name }}</span>
                        <span class="route-name">{{ schedule.route.route_long_name }}</span>
                </h1>
        </header>
        <main>
{% for period in schedule.service_periods %}
                <section id="{{ period.slug }}">
                        <h2 class="tab-header">{{ period.name }}</h2>
{% for direction, timetable in period.directions %}
                        <h3>{{ direction }}</h3>
                        <table class="timetable">
                                <thead>
                                        <tr>
{% for stop in timetable.timepoints %}
                                                <th>
                                                        {{ stop.stop_name|break }}
{% if stop.stop_url %}
                                                        <a href="{{ stop.stop_url }}"
                                                           target="_blank"
                                                           class="stop-id">
                                                                #{{ stop.stop_id }}
                                                        </a>
{% else %}
                                                        <span class="stop-id">#{{ stop.stop_id }}</span>
{% endif %}
                                                </th>
{% endfor %}
                                        </tr>
                                </thead>
                                <tbody>
{% for row in timetable.rows %}
                                        <tr>
{% for time in row %}
{% if time == Timetable.NO_SERVICE %}
                                                <td class="timetable-no"></td>
{% elif time == Timetable.SKIP %}
                                                <td class="timetable-skip"></td>
{% else %}
                                                <td>{{ time|time }}</td>
{% endif %}
{% endfor %}
                                        </tr>
{% endfor %}
                                </tbody>
                        </table>
{% endfor %}
                </section>
{% endfor %}
        </main>
        <script src="../static/route.js"></script>
</body>
</html>
