@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

:root {
        --border-color: #c8c8c8;
        --route-color: black;
        --route-text-color: white;
}

* {
        margin: 0;
        padding: 0;
}
body {
        font-family: "Roboto", sans-serif;
        padding: 1rem;
}
table {
        border-collapse: collapse;
}

a {
        text-decoration: none;
        padding: 0 0.2em;
}
a:link, a:visited {
        color: var(--route-text-color);
        background-color: var(--route-color);
}
a:hover, a:focus {
        text-decoration: underline;
}
a:active {
        color: var(--route-color);
        background-color: var(--route-text-color);
}
.leaflet-container a {
        color: inherit;
        background-color: inherit;
        padding: 0;
}

ul.tab-navigation {
        color: var(--route-text-color);
        background-color: var(--route-color);
        font-size: 110%;
}
ul.tab-navigation > li {
        display: inline-block;
        padding: 1em 2em 0.7em 2em;
        border-bottom: 0.3em solid;
}
ul.tab-navigation > li[data-tab-nav-active=true] {
        cursor: default;
}
ul.tab-navigation > li[data-tab-nav-active=true] {
        border-bottom-color: var(--route-text-color);
}
ul.tab-navigation > li[data-tab-nav-active=false]:hover {
        border-bottom-color: var(--border-color);
}
ul.tab-navigation > li[data-tab-nav-active=false] {
        cursor: pointer;
        border-bottom-color: var(--route-color);
}
[data-tab-content-active=false] {
        display: none;
}

.route-id {
        background-color: var(--route-color);
        color: var(--route-text-color);
        border-radius: 0.5em;
        padding: 0.3em 0.5em;
        margin-right: 0.2em;
        display: inline-block;
}
